md-dialog figure {
    margin: 0;
    padding: 0;
}

md-dialog img {
    max-width: 100%;
}

md-dialog ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 18px;
}

md-dialog li {
    text-indent: 2px;
    margin: 0px;
    margin-bottom: 18px;
}

md-dialog li:before {
    content: "• ";
    color: ||primary.default||;
    position: relative;
    top: -1px;
    right: 5px;
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
}

md-dialog .push {
    margin: -24px;
    margin-bottom: 0;
}