.rank-list li{
    margin-bottom: 12px;
    padding-top: 12px;
}

.rank-list li:first-child > div:nth-child(2){
    padding-left:0;
}

.rank-list li:first-child > div:nth-child(2) img{
    height: auto;
    width: 95%;
    border: 2px solid #dcc11a;
}

.rank-list li:first-child .rank-position{
    background: #dcc11a;
}

.rank-list li:first-child > div:nth-child(3){
    padding-left:12px;
}

.rank-list li:first-child{

}

.rank-list li > [class*='flex']{
    padding-left: 8px;
}

.rank-list li > [class*='flex']:first-child{
    padding-left:0;
}

.rank-list .rank-position {
    color: #FFF;
    background: #7b7876;
    padding: 4px 8px;
    border-radius: 12px;
}

.rank-list .rank-points,
.rank-list .rank-position {
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 767px){
    .rank-list .rank-position{
        font-size: 1em;
    }

    .rank-list .rank-points{
        font-size:1em;
    }   
}