.rank-list .rank-position {
    color: #FFF;
    background: #7b7876;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 12px;
    margin-right: 8px;
}

.rank-points,
.rank-position {
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 767px) {
    .rank-list h3 {
        width: 200px;
    }
    .rank-list md-list-item {
        padding: 0;
    }
    .rank-list .md-list-item-text {
        display: block;
    }
    .rank-list .md-list-item>.md-avatar {
        margin-right: 8px;
    }
    .rank-list .rank-position {
        font-size: 1em;
    }
}