a.md-button.md-default-theme.md-primary.md-raised,
a.md-button.md-primary.md-raised,
a.md-button.md-default-theme.md-primary.md-fab,
a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab{
    color: ||primary.50||;
}

a.md-button.md-default-theme.md-primary.md-raised:not([disabled]),
a.md-button.md-primary.md-raised:not([disabled]) md-icon,
a.md-button.md-default-theme.md-primary.md-fab:not([disabled]),
a.md-button.md-primary.md-fab:not([disabled]) md-icon,
.md-button.md-default-theme.md-primary.md-raised:not([disabled]),
.md-button.md-primary.md-raised:not([disabled]) md-icon,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]),
.md-button.md-primary.md-fab:not([disabled]) md-icon{
    color: ||primary.50||;
}
.bg-primary{
    background-color: ||primary.default|| !important;
}

.bg-primary-dark{
    background-color: ||primary.900|| !important;
}

.bg-clear{
    background: #E1E1E1 !important;
}

.border-clear{
    border:1px solid #E1E1E1;
}

.bg-white {
    background: #FFF !important;
}

.bg-success{
    background: #57d35c !important;
}

.color-success{
    color:#57d35c;
}

.color-pending{
    color: #ffa411;
}

.color-white{
    color: #FFFFFF !important;;
}

.color-primary{
    color: ||primary.default|| !important;
}

.color-light{
    color: #b5b5b5;
}
header md-toolbar.md-default-theme:not(.md-menu-toolbar),
header md-toolbar:not(.md-menu-toolbar){
    color: ||primary.50||;
}

header md-sidenav .menu-header{
    background: ||primary.default||;
}

header md-sidenav md-list-item.active,
header md-sidenav md-list-item.active md-icon{
    color: ||primary.default||;
}

header md-toolbar:not(.md-menu-toolbar) .md-button.active,
header md-toolbar:not(.md-menu-toolbar) a.md-button.active:not([disabled]).md-icon-button:hover,
header md-toolbar:not(.md-menu-toolbar) .md-button.active:not([disabled]).md-icon-button:hover{
    background: ||primary.50||;
    color: ||primary.default||;
}

md-toolbar:not(.md-menu-toolbar) .md-button md-icon{
    color: ||primary.50||;
}

md-toolbar:not(.md-menu-toolbar) .md-button{
    color: ||primary.50||;
}

md-toolbar:not(.md-menu-toolbar) .md-button.active md-icon{
    color: ||primary.default||;
}

header md-toolbar:not(.md-menu-toolbar) a.md-button:not([disabled]).md-icon-button:hover,
header md-toolbar:not(.md-menu-toolbar) .md-button:not([disabled]).md-icon-button:hover{
    background: ||primary.900||;
}

header md-toolbar .md-toolbar-brand {
    background-image:url('https://s3-sa-east-1.amazonaws.com/squid-cdn/logo.png');
    background-color: #FFF;
    background-repeat:no-repeat;
    background-position: center center;
    width:48px;
    background-size: 38px;
    margin-left: -24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
md-dialog figure {
    margin: 0;
    padding: 0;
}

md-dialog img {
    max-width: 100%;
}

md-dialog ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

md-dialog li {
    text-indent: -14px;
    margin-left: 30px;
}

md-dialog li:before {
    content: "• ";
    color: ||primary.default||;
    position: relative;
    right: -8px;
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
}

md-dialog .push {
    margin: -24px;
    margin-bottom: 0;
}
md-input-container{
    font-size: 16px;
}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active{
    color: ||primary.default||;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
    color: ||primary.200||;
}
.md-toolbar-tools h2{
    color: ||primary.50||;
}
.card.profile .card-header{
    background: ||primary.default||;
}

.card.profile .profile-info-wrapper h2{
    color: ||primary.default||;
}

.card.profile .profile-statistics-list li{
    color: ||primary.50||;
}
.rank-list .rank-position {
    color: #FFF;
    background: #7b7876;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 12px;
    margin-right: 8px;
}

.rank-list .badge {
    background: #514c49;
    color: white;
    padding: 6px 10px;
    border-radius: 12px;
    font-size: 0.8em;
    display: inline-block;
    margin-top: 6px;
}

@media (max-width: 767px) {
    .rank-list h3 {
        width: 200px;
    }
    .rank-list md-list-item {
        padding: 0;
    }
    .rank-list .md-list-item-text {
        display: block;
    }
    .rank-list .md-list-item>.md-avatar {
        margin-right: 8px;
    }
    .rank-list .rank-position {
        font-size: 0.7em;
    }
}
a {
    color: ||primary.default||;
}

a:hover,
a:focus {
    color: ||primary.900||;
}

strong{
    color: ||primary.default||;
}