a.md-button.md-default-theme.md-primary.md-raised,
a.md-button.md-primary.md-raised,
a.md-button.md-default-theme.md-primary.md-fab,
a.md-button.md-primary.md-fab,
.md-button.md-default-theme.md-primary.md-raised,
.md-button.md-primary.md-raised,
.md-button.md-default-theme.md-primary.md-fab,
.md-button.md-primary.md-fab{
    color: ||primary.50||;
}

a.md-button.md-default-theme.md-primary.md-raised:not([disabled]),
a.md-button.md-primary.md-raised:not([disabled]) md-icon,
a.md-button.md-default-theme.md-primary.md-fab:not([disabled]),
a.md-button.md-primary.md-fab:not([disabled]) md-icon,
.md-button.md-default-theme.md-primary.md-raised:not([disabled]),
.md-button.md-primary.md-raised:not([disabled]) md-icon,
.md-button.md-default-theme.md-primary.md-fab:not([disabled]),
.md-button.md-primary.md-fab:not([disabled]) md-icon{
    color: ||primary.50||;
}
.bg-primary{
    background-color: ||primary.default|| !important;
}

.bg-primary-dark{
    background-color: ||primary.900|| !important;
}

.bg-clear{
    background: #E1E1E1 !important;
}

.border-clear{
    border:1px solid #E1E1E1;
}

.bg-white {
    background: #FFF !important;
}

.bg-success{
    background: #57d35c !important;
}

.color-success{
    color:#57d35c;
}

.color-pending{
    color: #ffa411;
}

.color-white{
    color: #FFFFFF !important;;
}

.color-primary{
    color: ||primary.default|| !important;
}

.color-light{
    color: #b5b5b5;
}
header md-toolbar.md-default-theme:not(.md-menu-toolbar),
header md-toolbar:not(.md-menu-toolbar){
    color: ||primary.50||;
}

header md-sidenav .menu-header{
    background: ||primary.default||;
}

header md-sidenav md-list-item.active,
header md-sidenav md-list-item.active md-icon{
    color: ||primary.default||;
}

header md-toolbar:not(.md-menu-toolbar) .md-button.active,
header md-toolbar:not(.md-menu-toolbar) a.md-button.active:not([disabled]).md-icon-button:hover,
header md-toolbar:not(.md-menu-toolbar) .md-button.active:not([disabled]).md-icon-button:hover{
    background: ||primary.50||;
    color: ||primary.default||;
}

md-toolbar:not(.md-menu-toolbar) .md-button md-icon{
    color: ||primary.50||;
}

md-toolbar:not(.md-menu-toolbar) .md-button{
    color: ||primary.50||;
}

md-toolbar:not(.md-menu-toolbar) .md-button.active md-icon{
    color: ||primary.default||;
}

header md-toolbar:not(.md-menu-toolbar) a.md-button:not([disabled]).md-icon-button:hover,
header md-toolbar:not(.md-menu-toolbar) .md-button:not([disabled]).md-icon-button:hover{
    background: ||primary.900||;
}

header md-toolbar .md-toolbar-brand {
    background-image:url('https://s3-sa-east-1.amazonaws.com/squid-cdn/logo.png');
    background-color: #FFF;
    background-repeat:no-repeat;
    background-position: center center;
    width:48px;
    background-size: 38px;
    margin-left: -24px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}
md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active{
    color: ||primary.default||;
}

md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]){
    color: ||primary.200||;
}
.card.profile .card-header{
    background: ||accent.500||;
}

.card.profile .profile-info-wrapper h2{
    color: ||accent.500||;
}

.card.profile .profile-statistics-list li{
    color: ||primary.50||;
}
a {
    color: ||primary.default||;
}

a:hover,
a:focus {
    color: ||primary.900||;
}