<md-dialog aria-label="Resgatar" class="small-dialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Resgatar prêmio</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon aria-label="Close dialog">
                    <span class="mdi mdi-close"></span>
                </md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content class="md-dialog-content">
            <div ng-if="!checkoutResultMessage && !isLoading">
                <h3 class="text-center">
                    Você realmente deseja usar {{prize.points}} pontos dos seus {{userPointsAvailable}} pontos para resgatar o prêmio?
                </h3>
            </div>
            <div ng-if="checkoutResultMessage && !isLoading">
                <h3 ng-bind-html="checkoutResultMessage" class="text-center"></h3>
            </div>
            <div ng-show="isLoading">
                <h2 class="md-title text-center">Aguarde...</h2>
                <div class="md-progress-wrapper" ng-show="isLoading">
                    <md-progress-circular md-mode="indeterminate" style="margin:0 auto;"></md-progress-circular>
                </div>
            </div>
        </md-content>
    </md-dialog-content>
    <div class="md-actions" layout="row" ng-show="!isLoading">
        <md-button ng-click="cancel()" ng-if="!checkoutResultMessage">
            Não
        </md-button>
        <md-button ng-click="doCheckout()" ng-if="!checkoutResultMessage">
            Sim
        </md-button>
        <md-button ng-click="ok()" ng-if="checkoutResultMessage">
            OK
        </md-button>
    </div>
</md-dialog>