<div ng-controller="CheckoutPrizeController">
    <div class="card margin-bottom-3 sm-no-margin" id="toastBounds">
        <div class="card-body">
            <div layout="column"
                 layout-align="center center"
                 class="text-center color-light margin-top-double padding-2">
                <md-icon ng-if="!userProfile.$valid">
                    <span class="mdi mdi-lock md-display-3"></span>
                </md-icon>
                <md-icon class="color-success" ng-if="userProfile.$valid">
                    <span class="mdi mdi-lock-open md-display-3"></span>
                </md-icon>
                <h2 ng-bind="prize.value"></h2>
                <h4 ng-pluralize
                    count="prize.points"
                    when="{'one': '1 ponto', 'other': '{} pontos'}"></h4>
            </div>
            <div ng-show="!isLoading">
                <div class="targe">
                    <h3>Preencha/Confirme seus dados para prosseguir</h3>
                </div>
                <div class="padding-2 sm-padding-bottom-5">

                    <user-metadata-form
                        ng-model="userMetadata"
                        data-save="saveUserMetadata"
                        data-is-saving="isSaving"
                        data-on-saved="onUserMetadataSaved({userMetadata: userMetadata})">
                    </user-metadata-form>
                </div>
            </div>
            <div layout="row" layout-align="center center" ng-show="isLoading" class="margin-bottom-2">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-button class="md-fab md-primary fixed"
                       style="bottom: 12px; right:12px;"
                       ng-click="rescue()">
                <md-icon class="mdi mdi-check"></md-icon>
            </md-button>
        </div>
    </div>
</div>
