<div ng-controller="CheckoutController">
    <div tagged-infinite-scroll="loadMore()"
         tagged-infinite-scroll-disabled="isLoading"
         tagged-infinite-scroll-distance="100"
         ng-if="auth.isAuthenticated">
        <div class="card" ng-repeat="checkout in checkoutList">
            <div class="card-footer">
                <md-list class="checkout-list">
                    <md-list-item class="md-2-line">
                        <h3 class="color-primary md-list-item-text">
                            <a href="#/mission/mission-details/{{checkout.mission._id}}" ng-bind="'#' + checkout.mission.hashtag"></a>
                        </h3>
                        <h3 class="color-primary md-secondary" ng-bind="checkout.pointsAvailable + ' pontos'"></h3>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-subheader class="md-no-sticky">Prêmios</md-subheader>
                    <md-list-item class="md-2-line md-no-proxy checkout-list-item"
                                  ng-repeat="prize in checkout.mission.prizes">
                        <md-icon class="hide-sm">
                            <span class="mdi mdi-gift md-display-1"></span>
                        </md-icon>
                        <div class="md-list-item-text margin-checkout">
                            <h3 ng-bind="prize.points + ' pontos'"></h3>
                            <p ng-bind="prize.value"></p>
                        </div>
                        <md-button class="md-raised md-fab hide-gt-sm md-mini md-secondary md-primary"
                                   ng-disabled="!hasPointsAvailable(checkout, prize)"
                                   ng-click="$location.path('/checkout/' + prize._id)">
                            <span class="mdi mdi-briefcase-check"></span>
                        </md-button>
                        <md-button class="md-raised hide-sm md-secondary md-primary"
                                   ng-disabled="!hasPointsAvailable(checkout, prize)"
                                   ng-click="$location.path('/checkout/' + prize._id)">
                            <span class="mdi mdi-briefcase-check"></span>
                            <span>Resgatar</span>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>

    <div ng-if="auth.isAuthenticated && checkoutList.length == 0 && !isLoading"
         layout="column"
         layout-align="center center"
         class="text-center color-light sm-margin-top-double sm-padding-2">
        <md-icon>
            <span class="mdi mdi-rocket md-display-4"></span>
        </md-icon>
        <h2>Participe das missões! :)</h2>
        <h4 class="line-height-1-8">Você ainda não participou de nenhuma <a href="#mission/actives">#missão</a>, participe e volte aqui para acompanhar seu desempenho e resgatar os prêmios.</h4>
    </div>

    <div ng-if="!auth.isAuthenticated"
         layout="column"
         layout-align="center center"
         class="text-center color-light sm-margin-top-double sm-padding-2">
        <md-icon>
            <span class="mdi mdi-account-circle md-display-4"></span>
        </md-icon>
        <h2>Faça o login :)</h2>
        <h4 class="line-height-1-8">Faça o <a href="#login">login</a> com sua conta da rede social que você participou para poder acompanhar seu desempenho e resgatar os prêmios.</h4>
    </div>

    <div layout="row" layout-align="center center" class="md-progress-wrapper" ng-if="isLoading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
