<div ng-controller="ActiveMissionController">
	<div class="card" ng-repeat="campaign in campaigns">
		<div class="card-header">
			<div class="card-header-text">
				<h3>
					<a href="#/mission/mission-details/{{campaign._id}}" ng-bind="'#' + campaign.hashtag"></a>
				</h3>
			</div>
		</div>
		<div class="card-body">
			<figure>
				<a href="#/mission/mission-details/{{campaign._id}}">
                    <img ng-src="{{campaign.images.banner.standard_resolution}}" alt="">
                </a>
			</figure>
		</div>
		<div class="card-footer">
			<md-list>
                <md-button class="md-primary md-fab md-raised" ng-click="$location.path('mission/mission-details/' + campaign._id)" style="top:-55px; float: right;">
                    <md-icon>
                        <span class="mdi mdi-eye"></span>
                    </md-icon>
                </md-button>
				<md-list-item class="md-no-proxy">
					<p class="md-subhead" ng-bind="campaign.shortDescription"></p>
				</md-list-item>
			</md-list>
		</div>
	</div>
	<div layout="row" layout-align="center center" class="md-progress-wrapper">
		<md-progress-circular md-mode="indeterminate" ng-if="isLoading"></md-progress-circular>
	</div>
</div>