<div ng-controller="MissionDetailsController">
    <md-fab-speed-dial md-open="menuIsOpen" md-direction="up" class="md-scale fixed" style="bottom:12px; right: 12px;">
        <md-fab-trigger ng-click="toggleMenu()">
            <md-button aria-label="menu" class="md-fab md-primary">
                <md-icon>
                    <span class="mdi mdi-plus"></span>
                </md-icon>
            </md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="Participar" class="md-fab md-raised md-mini md-warn" ng-click="participate()">
                <md-tooltip md-direction="left" md-visible="tooltipIsOpen">Participar</md-tooltip>
                <md-icon class="mdi mdi-instagram" aria-label="Participar"></md-icon>
            </md-button>
            <md-button aria-label="Share" class="md-fab md-raised md-mini md-warn" ng-click="challenge()">
                <md-tooltip md-direction="left" md-visible="tooltipIsOpen">Desafiar</md-tooltip>
                <md-icon class="mdi mdi-share" aria-label="Share"></md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>

    <div class="card margin-bottom-4"
         ng-if="!isLoading">
        <div class="card-header hide-sm">
            <div class="card-header-text">
                <h3 class="color-primary" ng-bind="'#' + campaign.hashtag"></h3>
            </div>
        </div>
        <div class="card-body">
            <img ng-src="{{campaign.images.banner.standard_resolution}}" alt="">
        </div>
        <div class="card-footer">
            <md-list>
                <md-list-item>
                    <div class="md-list-item-text">
                        <p class="md-subhead" ng-bind-html="campaign.shortDescription"></p>
                    </div>
                </md-list-item>
            </md-list>
            <md-tabs md-dynamic-height
                     md-border-bottom
                     md-swipe-content="false"
                     md-center-tabs="true"
                     flex="100">
                <md-tab>
                    <md-tab-label>
                        <span class="mdi mdi-gift"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <h4>Prêmios</h4>
                            <md-subheader ng-if="allPrizesSoldOut" class="md-no-sticky">Todos os prêmios estão esgotados no momento.</md-subheader>
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="prize in campaignPrizes" ng-show="prize.hasAvailableStock">
                                    <a data-ng-if="prize.image.standard_resolution" data-ng-href="{{prize.image.standard_resolution}}" rel="lightbox" class="md-avatar no-border no-radius" data-lightbox="prizes" style="width: 100px; height:auto;">
                                        <img ng-if="prize.image.standard_resolution" data-ng-src="{{prize.image.standard_resolution}}" style="width:100%;" />
                                    </a>
                                    <md-icon class="margin-right-2" ng-if="!prize.image.standard_resolution">
                                        <span class="mdi mdi-checkbox-blank-circle-outline color-primary"></span>
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <p class="prize-title line-height-1-5" ng-bind="prize.value"></p>
                                        <p ng-bind="prize.points + ' pontos'"></p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <span class="mdi mdi-apps"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <h4>Participações</h4>
                            <div
                                tagged-infinite-scroll="loadMoreParticipations()"
                                tagged-infinite-scroll-disabled="isLoadingParticipations"
                                tagged-infinite-scroll-distance="100">
                                <md-grid-list
                                        md-cols-sm="2" md-cols-md="2" md-cols-gt-md="6"
                                        md-row-height="1:1"
                                        md-gutter="12px">
                                    <md-grid-tile
                                            md-rowspan="2" md-rowspan-sm="1"
                                            md-colspan="2" md-colspan-sm="1"
                                            ng-repeat="participation in participations.data"
                                            class="bg-clear border-clear">
                                        <img ng-src="{{participation.image}}" />
                                    </md-grid-tile>
                                </md-grid-list>
                            </div>
                            <div layout="column"
                                 layout-align="center center"
                                 ng-if="participations.data.length == 0 && !isLoadingParticipations"
                                 class="text-center color-light margin-top-double sm-padding-2">
                                <md-icon class="margin-bottom">
                                    <span class="mdi mdi-pound md-display-2"></span>
                                </md-icon>
                                <h4 class="line-height-1-8">Nenhuma participação, seja o primeiro a participar! :)</h4>
                            </div>

                            <div layout="row" layout-align="center center" class="md-progress-wrapper" ng-if="isLoadingParticipations">
                                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                            </div>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <span class="mdi mdi-google-controller"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <h4>Formas de pontuação</h4>
                            <md-list>
                                <md-list-item class="md-2-line">
                                    <md-icon class="margin-right-2">
                                        <span class="mdi mdi-checkbox-blank-circle-outline color-primary"></span>
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3>Post</h3>
                                        <p ng-bind="campaign.score.participate + ' pontos'"></p>
                                    </div>
                                </md-list-item>
                                <md-list-item class="md-2-line"> 
                                    <md-icon class="margin-right-2"> 
                                        <span class="mdi mdi-checkbox-blank-circle-outline color-primary"></span> 
                                    </md-icon> 
                                    <div class="md-list-item-text"> 
                                        <h3>Compartilhar a campanha</h3> 
                                        <p>5 pontos</p> 
                                    </div> 
                                </md-list-item>
                                <md-list-item class="md-2-line">
                                    <md-icon class="margin-right-2">
                                        <span class="mdi mdi-checkbox-blank-circle-outline color-primary"></span>
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3>Curtida</h3>
                                        <p>1 ponto</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>

                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <span class="mdi mdi-clock"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <h4>Tempo restante</h4>
                            <md-list>
                                <md-list-item class="md-2-line">
                                    <md-icon class="margin-right-2">
                                        <span class="mdi mdi-checkbox-blank-circle-outline color-primary"></span>
                                    </md-icon>
                                    <div class="md-list-item-text">
                                        <h3 class="line-height-1-5" ng-bind="timeLeft"></h3>
                                        <p>Tempo restante para participar</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <span class="mdi mdi-view-headline"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <h4>Descrição</h4>
                            <p ng-bind-html="campaign.description"></p>
                        </md-content>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        <span class="mdi mdi-checkbox-marked-circle-outline"></span>
                    </md-tab-label>
                    <md-tab-body>
                        <md-content class="md-padding">
                            <h4>Regras</h4>
                            <p ng-bind-html="campaign.rules"></p>
                        </md-content>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
        </div>
    </div>
    <div layout="row" layout-align="center center" class="md-progress-wrapper" ng-if="isLoading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>