.share-buttons{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.share-buttons li{
    display: inline-block;
    padding: 6px;
}

.share-buttons li .mdi{
    font-size: 36px;
}