<md-dialog aria-label="Sobre a campanha" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Sobre a campanha</h2>
      </div>
    </md-toolbar>
    <md-dialog-content ng-repeat="aboutText in TEXTS" ng-show="isCurrentText(aboutText)" style="max-width:800px;max-height:810px;">
        <div class="md-dialog-content" ng-bind-html="aboutText.CONTENT"></div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
        <md-button ng-click="back()" ng-show="!isFirstText(currentText)">
            Voltar
        </md-button>
        <md-button ng-click="next()" ng-show="!isLastText(currentText)">
            Avançar
        </md-button>
        <md-button ng-click="ok()" ng-show="isLastText(currentText)">
            OK
        </md-button>
    </div>
</md-dialog>