<div layout="column" layout-align="space-between start" layout-fill>
    <div style="width: 100%;">
        <div class="menu-header">
            <md-list>
                <md-list-item class="md-2-line">
                    <img ng-src="{{auth.profile.picture}}" alt="{{auth.profile.name}}" ng-if="auth.isAuthenticated" class="md-avatar"/>

                    <img ng-src="{{APP_CONFIG.APP_DIR}}/images/no-img.jpg" ng-if="!auth.isAuthenticated" class="md-avatar"/>

                    <div class="md-list-item-text">
                        <h3 class="color-white">Bem-vindo</h3>
                        <p class="color-white" ng-bind="auth.profile.name" ng-if="auth.isAuthenticated"></p>
                        <p class="color-white" ng-if="!auth.isAuthenticated">Visitante</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <md-list>
          <md-list-item ng-if="auth.isAuthenticated" ng-click="linkAccount()">
                <md-icon aria-hidden="true" class="mdi md-headline mdi-instagram"></md-icon>
                <p>Vincular Instagram</p>
            </md-list-item>
            <md-list-item ng-click="$location.path('my-profile')" ng-class="getButtonClass('my-profile')" ng-if="auth.isAuthenticated">
                <md-icon class="mdi md-headline mdi-account-circle"></md-icon>
                <p>Meu perfil</p>
            </md-list-item>
            <md-list-item ng-click="$location.path('mission/actives')" ng-if="!APP_CONFIG.CAMPAIGNS.UNIQUE_CAMPAIGN.IS_UNIQUE && auth.isAuthenticated" ng-class="getButtonClass('mission')">
                <md-icon class="mdi md-headline mdi-rocket"></md-icon>
                <p>Campanhas</p>
            </md-list-item>
            <md-list-item ng-click="goToUniqueCampaign()" ng-if="APP_CONFIG.CAMPAIGNS.UNIQUE_CAMPAIGN.IS_UNIQUE && auth.isAuthenticated" ng-class="getButtonClass('mission')">
                <md-icon class="mdi md-headline mdi-pound"></md-icon>
                <p>Campanha</p>
            </md-list-item>
            <md-list-item ng-click="$location.path('checkout')" ng-class="getButtonClass('checkout')" ng-if="auth.isAuthenticated">
                <md-icon class="mdi md-headline mdi-briefcase-check"></md-icon>
                <p>Meus Pontos</p>
            </md-list-item>
            <md-list-item ng-click="$location.path('feed')" ng-class="getButtonClass('feed')" ng-if="auth.isAuthenticated">
                <md-icon class="mdi md-headline mdi-rss"></md-icon>
                <p>Feed</p>
            </md-list-item>
            <md-list-item ng-click="$location.path('rank')" ng-class="getButtonClass('campaign')" ng-if="APP_CONFIG.RANK.SHOW && auth.isAuthenticated">
                <md-icon class="mdi md-headline mdi-trophy"></md-icon>
                <p>Rank</p>
            </md-list-item>
            <md-list-item ng-show="APP_CONFIG.TERMS_OF_USE.SHOW">
                <a ng-href="{{APP_CONFIG.TERMS_OF_USE.LINK}}" class="md-no-style md-button md-ink-ripple" target="_blank">
                    <div class="md-list-item-inner ng-scope">
                        <md-icon aria-hidden="true" class="mdi md-headline mdi-flag ng-isolate-scope material-icons"></md-icon>
                        <p>Termos de uso</p>
                    </div>
                </a>
            </md-list-item>
            <md-list-item ng-show="APP_CONFIG.PRIVACY_POLICY.SHOW">
                <a ng-href="{{APP_CONFIG.PRIVACY_POLICY.LINK}}" class="md-no-style md-button md-ink-ripple" target="_blank">
                    <div class="md-list-item-inner ng-scope">
                        <md-icon aria-hidden="true" class="mdi md-headline mdi-eye ng-isolate-scope material-icons"></md-icon>
                        <p>Política de privacidade</p>
                    </div>
                </a>
            </md-list-item>
            <md-list-item ng-show="APP_CONFIG.CAMPAIGNS.UNIQUE_CAMPAIGN.ABOUT.SHOW && auth.isAuthenticated">
                <a ng-click="openAboutCampaign()" class="md-no-style md-button md-ink-ripple">
                    <div class="md-list-item-inner ng-scope">
                        <md-icon aria-hidden="true" class="mdi md-headline mdi-flag ng-isolate-scope material-icons"></md-icon>
                        <p>Sobre a campanha</p>
                    </div>
                </a>
            </md-list-item>
        </md-list>
    </div>
    <div style="width: 100%;">
        <md-list>
            <md-list-item ng-click="$location.path('login')" ng-if="!auth.isAuthenticated">
                <md-icon class="mdi md-headline mdi-login"></md-icon>
                <p>Login</p>
            </md-list-item>
            <md-list-item ng-click="logout()" ng-if="auth.isAuthenticated">
                <md-icon class="mdi md-headline mdi-logout"></md-icon>
                <p>Sair</p>
            </md-list-item>
        </md-list>
    </div>
</div>
