<header>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2"
                md-component-id="left"
                ng-include
                src="'/directives/toolbar/mobile-side-menu.html'">
    </md-sidenav>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
            <a href="javascript:void(0)" class="md-toolbar-brand hide-sm" ng-click="scrollToUp()"></a>
            <md-button
                    class="md-icon-button hide-gt-sm"
                    aria-label="Menu"
                    ng-click="$mdSidenav('left').toggle()"
                    ng-if="!secondaryNav">
                <md-icon class="mdi md-headline mdi-menu"></md-icon>
            </md-button>
            <md-button
                    class="md-icon-button hide-gt-sm"
                    aria-label="Menu"
                    ng-click="goBack()"
                    ng-if="secondaryNav">
                <md-icon class="mdi md-headline mdi-arrow-left"></md-icon>
            </md-button>
            <md-button class="md-icon-button hide-sm"
                       aria-label="Missões"
                       ng-class="getButtonClass('mission')"
                       ng-click="$location.path('mission/actives')">
                <md-tooltip>Missões</md-tooltip>
                <md-icon class="mdi md-headline mdi-rocket"></md-icon>
            </md-button>
            <md-button class="md-icon-button hide-sm"
                       aria-label="Resgatar prêmios"
                       ng-class="getButtonClass('checkout')"
                       ng-click="$location.path('checkout')">
                <md-tooltip>Checkout</md-tooltip>
                <md-icon class="mdi md-headline mdi-briefcase-check"></md-icon>
            </md-button>
            <md-button class="md-icon-button hide-sm"
                       aria-label="Feed"
                       ng-class="getButtonClass('feed')"
                       ng-click="$location.path('feed')">
                <md-tooltip>Feed</md-tooltip>
                <md-icon class="mdi md-headline mdi-rss"></md-icon>
            </md-button>
            <span flex class="hide-sm"></span>
            <h2 class="hide-gt-sm" flex ng-bind="pageTitle"></h2>

            <md-button aria-label="Login"
                       ng-class="getButtonClass('login')"
                       ng-click="$location.path('login')"
                       ng-if="!auth.isAuthenticated" class="hide-sm">
                <md-icon md-menu-origin class="mdi md-headline mdi-signin"></md-icon>
                <span>Entrar</span>
            </md-button>

            <md-menu ng-if="auth.isAuthenticated" class="hide-sm">
                <md-button aria-label="Open menu"
                           ng-click="$mdOpenMenu($event)"
                           class="md-primry"
                           ng-class="getButtonClass('my-profile')">
                    <md-icon md-menu-origin class="mdi md-headline mdi-account-circle"></md-icon>
                    <span ng-bind="auth.profile.name"></span>
                </md-button>
                <md-menu-content width="3">
                    <md-menu-item>
                        <md-button class="md-primary" ng-click="$location.path('my-profile')">
                            <md-icon class="mdi md-headline mdi-account-circle"></md-icon>
                            <span md-menu-align-target>Meu perfil</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="md-primary" ng-click="logout()">
                            <md-icon class="mdi md-headline mdi-logout"></md-icon>
                            <span md-menu-align-target>Sair</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</header>
