<md-dialog aria-label="Desafiar" ng-cloak>
    <md-dialog-content class="md-dialog-content" style="max-width:400px;max-height:310px;">
        <h2 class="md-title">Desafiar</h2>
        <p>
            Desafie seus amigos a cumprirem a missão! Você ganhará pontos por desafiá-los ;)
        </p>
        <div class="share-tool" ng-click="share()">
            <ul class="share-buttons">
                <li ng-if="isMobile">
                    <a ng-href="whatsapp://send?text={{mission.shareText}}" target="_blank" title="Whatsapp">
                        <span class="mdi mdi-whatsapp"></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{urlToShare}}&t={{mission.shareText}}" title="Facebook" target="_blank">
                        <span class="mdi mdi-facebook-box"></span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/intent/tweet?source={{urlToShare}}&text={{mission.shareText}}" target="_blank" title="Twitter">
                        <span class="mdi mdi-twitter"></span>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/share?url={{urlToShare}}" target="_blank" title="Google+">
                        <span class="mdi mdi-google-plus"></span>
                    </a>
                </li>
            </ul>
        </div>
    </md-dialog-content>
</md-dialog>