<div>
    <div tagged-infinite-scroll="loadMore()" tagged-infinite-scroll-disabled="isLoading" tagged-infinite-scroll-distance="100"
        ng-if="auth.isAuthenticated">
        <div class="card card-checkout" ng-repeat="checkout in checkoutList">
            <div class="card-header">
                <div layout="row" layout-align="space-between center">
                    <h2 flex="70">
                        <a href="#/mission/mission-details/{{checkout.campaign.id}}" ng-bind="'#' + checkout.campaign.tag"></a>
                    </h2>
                    <h3 class="text-right" flex="30" ng-bind="checkout.totalAvaible + ' pontos'"></h3>
                </div>
            </div>
            <div class="card-body md-padding sm-padding">
                <div ng-hide="checkout.allPrizesSoldOut">
                    <h4>Prêmios</h4>
                    <md-list class="checkout-list">
                        <md-list-item class="md-2-line checkout-list-item" ng-repeat="prize in checkout.prizes" ng-show="prize.hasAvailableStock">
                            <md-icon class="hide-sm">
                                <span class="mdi mdi-gift md-display-1"></span>
                            </md-icon>
                            <div class="md-list-item-text margin-checkout">
                                <h3 ng-bind="prize.points + ' pontos'"></h3>
                                <p ng-bind="prize.value"></p>
                            </div>
                            <md-button class="md-raised md-secondary md-primary" ng-disabled="!hasPointsAvailable(checkout, prize)" ng-click="checkoutPrize(prize)">
                                <span class="mdi mdi-briefcase-check"></span>
                                <span class="hide-sm">Resgatar</span>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>
                <div ng-if="checkout.allPrizesSoldOut">
                    <h4 class="text-center">
                        Todos os prêmios estão esgotados no momento.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="auth.isAuthenticated && checkoutList.length == 0 && !isLoading" layout="column" layout-align="center center"
        class="text-center color-light sm-margin-top-double sm-padding-2">
        <md-icon>
            <span class="mdi mdi-rocket md-display-4"></span>
        </md-icon>
        <h2>Você ainda não está participando :(</h2>
        <h4 class="line-height-1-8">
            Mas fique tranquilo! Acesse agora mesmo nossa <a href="#mission/actives">campanha</a>, participe e volte aqui
            na aba <a href="#checkout">Meus Pontos</a> para acompanhar sua pontuação e trocar por nossos prêmios! Boa sorte
            ;)
        </h4>
    </div>
    <div layout="row" layout-align="center center" class="md-progress-wrapper" ng-if="isLoading">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
</div>
