<md-dialog aria-label="Campanha & Termos de uso" ng-cloak>
    <div ng-if="currentStep == 'campanha'">
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <figure class="push margin-bottom-3">
                    <img src="/images/header_brahma.png" />
                </figure>
                <p>
                    Faça parte do <strong>Conexão Brahma</strong>, uma elite formada por apaixonados do universo sertanejo e de uma boa cerveja.
                </p>
                <p>
                    A partir de hoje você terá algumas regalias para dividir com seus amigos e ficar bonito nas redes sociais. Participando desse grupo, você ganhará:
                </p>
                <ul>
                    <li>
                        Cota mensal de 20 caixas (240 unidades) de Brahma por mês, que podem ser consumidas da forma que você desejar, incluindo esquentas, festas e churrascos de seus amigos. Basta nos enviar o endereço e a gente entrega para você.
                    </li>
                    <li>
                        Ingressos e acesso VIP regularmente nas melhores casas e shows sertanejos, para você e um acompanhante.
                    </li>
                    <li>
                        Experiências únicas, como Backstage e Meet and Greet com artistas, acesso aos Camarotes Brahma de grandes festivais Sertanejos, vouchers no Empório da Cerveja, artigos autografados, entre muitas outras!
                    </li>
                </ul>
                <p>
                    Basta você participar e compartilhar esses momentos especiais em seu Instagram com a hashtag #SRTNJ para você juntar pontos e trocá-los por essas experiências exclusivas. Você poderá acompanhar quantos pontos tem a qualquer momento por aqui.
                </p>
                <p>
                    E pra começar, o Conexão Brahma preparou uma surpresa incrível na Festa do Peão mais esperada do ano: Barretos. Você é nosso convidado para conferir esse momento de dentro do Camarote Brahma com transfer de ida e volta de São Paulo inclusos.
                </p>
                <p>
                    Curtiu? Para entrar no grupo, basta aceitar o convite feito por telefone e concordar com o regulamento a seguir. Nós enviaremos um e-mail confirmando a sua participação.
                </p>
                <p>
                    Brahma e Sertanejo: é com paixão que se faz.
                </p>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="next()" style="margin-right:20px;" >
                Avançar
            </md-button>
        </div>
    </div>
    <div ng-if="currentStep == 'regulamento'">
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <figure class="push margin-bottom-3">
                    <img src="/images/header_brahma.png" />
                </figure>
                <p>
                    Bem-vindo ao <strong>Conexão Brahma</strong>!
                </p>
                <p>
                    Anote nossos contatos:
                </p>
                <p>
                    (11) 95200-5609 <br />
                    <a href="mailto:concierge@conexaobrahma.com.br">concierge@conexaobrahma.com.br</a>
                </p>
                <p>
                    Qualquer dúvida estamos à disposição!
                </p>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="back()">
                Voltar
            </md-button>
            <md-button ng-click="ok()" style="margin-right:20px;" >
                OK
            </md-button>
        </div>
    </div>
</md-dialog>